/* ===========================
   MEMBERSHIP PAGE
=========================== */

#membership {
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  gap: 50px;
  padding-top: calc(var(--main-top) + 16px);
  padding-bottom: calc(var(--main-bottom) + 16px);
  box-sizing: border-box;
}

#membership .membership-plans,
#membership .policy-section,
#membership .payment-section {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

/* 타이틀 */
#membership .section-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #3f5f73;
}

/* 카드 */
#membership .plan-card {
  background: #ffffff;
  border-radius: 15px;
  padding: 15px 20px;
  border: 1px solid #e4ebf0;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#membership .plan-card + .plan-card {
  margin-top: 18px;
}

#membership .plan-card.selected {
  border: 2px solid #3f5f73;
}

/* 뱃지 */
#membership .plan-badge {
  width: 70px;
  display: inline-block;
  background: #3f5f73;
  color: #ffffff;
  font-size: 13px;
  padding: 8px 0;
  border-radius: 999px;
  text-align: center;
}

#membership .price-main {
  font-size: 26px;
  font-weight: 700;
  color: #3f5f73;
}

#membership .price-period {
  font-size: 14px;
  margin-left: 6px;
  color: #6d8897;
}

/* 혜택 */
#membership .benefit-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#membership .benefit-list li {
  position: relative;
  padding-left: 14px;
  font-size: 14px;
  margin-bottom: 6px;
  color: #3f5f73;
}

#membership .benefit-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.7em;
  width: 4px;
  height: 4px;
  transform: translateY(-50%);
  background: url(../assets/icons/bullet.svg) no-repeat center / contain;
}
#membership .benefit-list li:last-child {
  margin-bottom: 0px;
}

#membership .benefit-list li.disabled {
  opacity: 0.5;
}

#membership .policy-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#membership .policy-list li {
  position: relative;
  padding-left: 14px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #4c6a7a;
  line-height: 1.5;
}

#membership .policy-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.7em;
  width: 4px;
  height: 4px;
  transform: translateY(-50%);
  background: url(../assets/icons/bullet.svg) no-repeat center / contain;
}

#membership .policy-list li:last-child {
  margin-bottom: 0;
}

/* 버튼 */
#membership .btn-primary {
  width: 100%;
  height: 54px;
  border-radius: 14px;
  border: none;
  background: #3f5f73;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
