# =========================
# APP
# =========================
FRONTEND_URL=https://도메인주소

# Cloudflare R2 공개 베이스 URL (끝에 / 없이 입력)
R2_PUBLIC_BASE_URL=https://클라우드플레어-R2-공개주소
# R2 안에서 커버 이미지가 저장된 폴더 경로
R2_COVER_PREFIX=cover
# R2 안에서 음원 파일이 저장된 폴더 경로
R2_AUDIO_PREFIX=audio
# R2 안에서 영상 파일이 저장된 폴더 경로
R2_VIDEO_PREFIX=video

# =========================
# DB
# =========================
DB_HOST=localhost
DB_PORT=3306
DB_NAME=데이터베이스_이름
DB_USER=데이터베이스_계정명
DB_PASS=데이터베이스_비밀번호
DB_CHARSET=utf8mb4


# =========================
# KAKAO
# =========================
KAKAO_CLIENT_ID=카카오_클라이언트_ID
KAKAO_CLIENT_SECRET=카카오_클라이언트_SECRET
KAKAO_REDIRECT_URI=https://도메인주소/backend/api/auth/kakao/callback.php

# =========================
# GOOGLE
# =========================
GOOGLE_CLIENT_ID=구글_클라이언트_ID
GOOGLE_CLIENT_SECRET=구글_클라이언트_SECRET
GOOGLE_REDIRECT_URI=https://도메인주소/backend/api/auth/google/callback.php

# =========================
# NAVER
# =========================
NAVER_CLIENT_ID=네이버_클라이언트_ID
NAVER_CLIENT_SECRET=네이버_클라이언트_SECRET
NAVER_REDIRECT_URI=https://도메인주소/backend/api/auth/naver/callback.php
