# =========================
# APP
# =========================
APP_URL=http://localhost/TONE/backend
FRONTEND_URL=http://localhost:5173

# Cloudflare R2 공개 베이스 URL (끝에 / 없이 입력)
R2_PUBLIC_BASE_URL=https://예시-r2-공개도메인.example.com
# R2 안에서 커버 이미지가 저장된 폴더 경로
R2_COVER_PREFIX=커버이미지폴더명
# R2 안에서 음원 파일이 저장된 폴더 경로
R2_AUDIO_PREFIX=음원파일폴더명

# =========================
# DB
# =========================
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=tone
DB_USER=데이터베이스유저이름
DB_PASS=데이터베이스비밀번호
DB_CHARSET=utf8mb4


# =========================
# KAKAO
# =========================
KAKAO_CLIENT_ID=카카오클라이언트ID
KAKAO_CLIENT_SECRET=카카오클라이언트SECRET
KAKAO_REDIRECT_URI=http://localhost/TONE/backend/api/auth/kakao/callback.php

# =========================
# GOOGLE
# =========================
GOOGLE_CLIENT_ID=구글클라이언트ID
GOOGLE_CLIENT_SECRET=구글클라이언트SECRET
GOOGLE_REDIRECT_URI=http://localhost/TONE/backend/api/auth/google/callback.php

# =========================
# NAVER
# =========================
NAVER_CLIENT_ID=네이버클라이언트ID
NAVER_CLIENT_SECRET=네이버클라이언트SECRET
NAVER_REDIRECT_URI=http://localhost/TONE/backend/api/auth/naver/callback.php
