/* ========================================
리셋
=========================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

input {
  border: none;
  outline: none;
}
